@import "../../app.scss";

.donar{
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    @include mobile{
        padding: 100px 30px;           
    }
    gap: 20px;
    justify-content: center;
    align-items: center;
    .box{
        background-color: white;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        width: 300px;
        padding: 50px;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover{
            transform: scale(1.03);
            box-shadow: 7px 7px rgb(160, 0, 0);
        }
        .icon{
            color: rgb(160, 0, 0);
        }
        .title{
            span{
                font-size: 20px;
                font-weight: 500;
                color: rgb(160, 0, 0);
            }
        }

    }
}